.Lobby {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Lobby .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
}
.classes-container{
  display : flex;
  flex-wrap: wrap;
}
.classroom-card{
  width : 31%;
  margin : 8px;
}
